In [1]:
require "rubythinking"
include Rubythinking

/Users/robinstammer/private_projects/rubythinking/lib/rubythinking.rb:6: warning: csv was loaded from the standard library, but will no longer be part of the default gems starting from Ruby 3.4.0.
You can add csv to your Gemfile or gemspec to silence this warning.

#<Module:0x000000011d2b1d80>

In [2]:
howell = Rubythinking::Dataset.load("howell")

#<Rubythinking::Dataset rows=441 columns=["height", "weight", "age", "male"]>

In [5]:
df = howell.to_df

#<Daru::DataFrame(441x4)>
                height     weight        age       male
          0    151.765 47.8256065         63          1
          1      139.7 36.4858065         63          0
          2    136.525  31.864838         65          0
          3    156.845 53.0419145         41          1
          4    145.415  41.276872         51          0
          5     163.83  62.992589         35          1
          6    149.225 38.2434755         32          0
          7     168.91 55.4800645         27          1
          8    147.955  34.869684         19          0
          9      165.1  54.487763         54          1
         10    154.305  49.895778         47          0
         11     151.13 29.1446955         29          0
         12     144.78  51.942478         23          0
         13     149.86  50.535786         56          0
         14     163.83 55.8167915         27          1
         15    158.115 51.7145615         33          1
         16     143.51 47.8256065         17          0
         17     121.92 28.1232325         18          0
         18    136.525 34.0192025         19          0
         19     157.48 55.1119195         20          1
         20     148.59 53.5249765         51          0
         21     147.32   46.49597         23          0
         22    126.365 26.7605735         19          0
         23     147.32  42.637944         56          0
         24     162.56 61.8736715         73          1
         25    168.275 55.8167915         19          1
         26    147.955   51.25915         37          0
         27     147.32  31.297572         26          0
         28      139.7  31.752906         17          0
         29    154.305 53.9779315         30          1
        ...        ...        ...        ...        ...

In [13]:
df= howell.to_df
puts "ok"

ok

In [16]:
(0..(df.size-1)).map{|i| [df["heigh"]}

36.4858065